<%= form_for @word do |w| %>

  <div class="field">
    <%= w.label :name %>
    <br/>
    <%= w.text_field :name %>
  </div>
  <div class="field">
    <%= w.label :singular_genitive %>
    <br/>
    <%= w.collection_select :singular_genitive_id, SingularGenitive.all, :id, :genitive, { prompt: 'Select singular genitive'} %>
  </div>
  <div class="field">
    <%= w.label :gender %>
    <br/>
	<%= w.collection_select :gender_id, Gender.all, :id, :name, { prompt: 'Select gender' }%>    
  </div>

  <h3>Meanings</h3>
  <div id='meanings'>
    <%= w.fields_for :meanings do |meaning| %>
      <%= render 'meaning_fields', f: meaning %>
    <% end %>
    <div class='links'>
      <%= link_to_add_association 'add meaning', w, :meanings %>
    </div>
  </div>
  <%= w.submit 'Save' %>
<% end %>