  <div class='nested-fields'>
    <div class="field">
      <%= f.label :abreviaciones %>
      <%= f.collection_select :abbreviature_ids, Abbreviature.all, :id, :explanation, { prompt: 'Select abbreviatures'}, {:multiple => true} %>
    </div>
    <div class="field">
      <%= f.label :significado %>
      <%= f.text_field :itself %>
    </div>
    <div class="field">
      <%= f.label :ejemplo %>
      <%= f.text_field :example %>
    </div>
    <%= link_to_remove_association "remove meaning", f %>
  </div>