  <div class='nested-fields'>
    <div class="field">
      <%= f.label :significado %>
      <%= f.text_field :itself %>
    </div>
    <div class="field">
      <%= f.label :ejemplo %>
      <%= f.text_field :example %>
    </div>
    <%= link_to_remove_association "remove meaning", f %>
  </div>