<h1><%= @word.name.capitalize %> </h1>

<p><strong>Genitivo singular:</strong> <%= @word.singular_genitive.genitive %> </p>

<p><strong>Género:</strong> <%= @word.gender.name %> </p>

<h2>Acepciones</h2>

<% for meaning in @word.meanings %>

  <p>
	<i>
	<small>
  	  <% for abbrvr in meaning.abbreviatures %>
  	  	<%= abbrvr.abbreviations.first.name %>,  
  	  <% end %>		
  	</small>
  	</i>

  	<%= meaning.itself.capitalize %>. <i><%= meaning.example %></i>
  </p>

<% end %>